<!DOCTYPE html>
<html lang="pt_br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
        <link rel="stylesheet" href="/styles/style.css">

        {% block style %}
        {% endblock style %}

        <link rel="icon" href="/assets/favicon.ico" type="image/x-icon"/>
        <title>DATACENTER - TEMPERATURA</title>
    </head>
    <body>
        
        {% block content %}
        {% endblock content %}

    </body>
</html>